body {
    background-color:steelblue;
}

#logout {
    margin-left: auto;
    margin-right: 2%;
}

#nav1 {
    margin-left: 2%;
}

#nav1:hover {
    cursor: default;
}

.activated {
    cursor: pointer;
}

.container {
    margin-top: 2%;
}

h2 {
    margin-top: 2%;
    text-align: center;
}

.center {
    text-align: center;
}